.cover__overlay {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    aspect-ratio: 1.6;
    max-width: 1184px;
    position: relative;
}


/*Метод показали в вебинаре */
.cover__overlay:before {
    background: #2A2C2F;
    opacity: 0.3;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.3s;
    position: absolute;
}

.cover__overlay:hover::before {
    opacity: 0.8;
  }