.cover__title {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  max-width: 560px;
  text-align: center;
  color: #FFFFFF;
  font-style: normal;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}
