.lead__image-block{
    max-width: 984px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:1024px) and (max-width:1279px) {
    .lead__image-block {
        max-width: 928px;
    }
}

@media screen and (max-width:767px) {
    .lead__image-block {
        max-width: 320px;
    }
}